@tailwind base;
@tailwind components;
@tailwind utilities;

/* Login page starts*/
.loginbackground {
  background-image: url(/src/assets//images/Login/LoginBackground.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
}

.loginshadow {
  @apply w-[90%] md:w-[55%] h-[451px] rounded-xl bg-white shadow-[0px_5px_40px_rgba(27,_27,_27,_0.48)] absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2;
}

.logingrid {
  @apply grid grid-cols-1 md:grid-cols-2  gap-2;
}

.leftsection {
  @apply hidden md:block h-[451px] bg-[#F4FAFE] rounded-l-xl relative;
}

.clientimg {
  @apply w-full px-20 m-1 md:px-0 md:w-[150px];
}

.logincurve {
  @apply absolute bottom-0 right-0;
}

.textalignment {
  @apply text-center pt-4;
}

.loginflex {
  @apply flex flex-col items-center justify-start gap-[7px_0px] text-[16px];
}

.topheadertext {
  @apply text-[#1362A2] leading-[20.13px] uppercase flex items-center [text-shadow:0px_6px_15px_rgba(0,_0,_0,_0.25)];
}

.producttext {
  @apply self-stretch flex flex-row items-start justify-center pt-0 px-5 pb-[7px];
}

.productdesigntext {
  @apply text-[#1362A2] m-0 relative font-normal [text-shadow:0px_4px_4px_rgba(0,_0,_0,_0.25)] text-[32px];
}

.productimage {
  @apply md:flex flex-col items-center hidden;
}

.rightsection {
  @apply px-8 py-4 relative;
}

.logintitle {
  @apply text-[30px];
}

.formcomponent {
  @apply pt-4;
}

.logincomponent {
  @apply space-y-2;
}
.logincontrolflex {
  @apply flex justify-between items-center pt-4;
}

.loginbutton {
  @apply bg-[#1677ff];
}

.poweredby {
  @apply flex items-center gap-2 md:absolute md:right-0 md:bottom-0 md:pr-8 pt-16;
}

.poweredtext {
  @apply text-[#595959] font-semibold text-[12px];
}

.poweredimg {
  @apply w-[70px];
}

.login-footer {
  @apply text-[12px] absolute bottom-0 left-[50%] transform -translate-x-1/2 -translate-y-1/2;
}

@media only screen and (max-width: 600px) {
  .login-footer-mobile {
    @apply w-[100%] flex justify-center;
  }
}

/* Login page ends*/
